@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@mixin change-color($val) {
    @if $val == off {
        color: black;
    }
    @else {
        color: blue;
    }
}

#app {
    text-align: center;
}

body {
    text-align: center;
    background-color: rgba(223, 210, 32, 0.623);
    font-family: 'Roboto Mono', monospace;
  }

#header {
    font-size: 30px;
    color: black; 
    text-align: center;
    font-weight: bold;
    margin-bottom: 100px;
  }

#drum-machine {
    width: 50%;
    margin: auto;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    padding: 10px;
    background-color: grey;
}

#inner-drum-machine-box {
    border-color: white;
    border-width: 5px;
    border-style: solid;
    padding: 25px;
    background-color: rgb(220,20,60);
}

#display {
font-size: 14px;
font-weight: bold;
text-align: center;
padding: 25px;
}

#display-container {
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    border-style: solid;
    border-color: purple;
    border-width: 4px;
    padding: 5.5px;
}

.label-title {
    font-weight: bold;
    font-style: italic;
    font-size: 19px;
}

.power-button {
    font-weight: bolder;
    font-size: 23px;
    background-color: rgb(185, 176, 176);
    margin-left: 80px;
    margin-right: 80px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 10px;
    transition: ease-out 0.2s;
    user-select: none;
}

.power-button:hover {
    background-color: yellow;
    cursor: pointer;
}

#power-button-off {
@include change-color(off);
}

#power-button-on {
    @include change-color(on);
}

#volume-control-container {
    background-color: rgb(185, 176, 176);
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
}

#volume{
    width: 200px;
}

.col {
    padding: 10px;
}
.drum-pad {
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    padding: 25px 35px;
    border-style: ridge;
    border-color: black;
    border-width: 2.5px;
    border-radius: 10px;
    background-color: aquamarine;
    transition: ease-out 0.4s;
    user-select: none;
}

.drum-pad:hover {
    background-color: royalblue;
    cursor: pointer;
}

.footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding-top: 5rem;
  }