#app {
    text-align: center;
}

body {
    text-align: center;
    background-color: rgba(223, 210, 32, 0.623);
  }

#header {
    font-size: 30px;
    color: black; 
    text-align: center;
    font-weight: bold;
    margin-bottom: 250px;
  }

#drum-machine {
    width: 40%;
    margin: auto;
    border-color: teal;
    border-width: 10px;
    border-style: solid;
    padding: 10px;
    background-color: grey;
    
}

#inner-drum-machine-box {
    border-color: white;
    border-width: 5px;
    border-style: solid;
    padding: 25px;
    background-color: orange;
}

#display {

}

.col {
    padding: 10px;
}

.col-5 {
    @extend .col;
}

.footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding-top: 5rem;
  }